html, body {
    height: 100%;
    font-family: 'Kakao';
}

.gap{
    height:30px;
} 
#picArea{
    height:500px;
}

#schoolName{
    font-size :40px;
    font-weight: bold;
}

.specs{
    padding:20px;
    box-shadow: 0 5px 5px 2px #ddd;
    border: thin solid #EEE;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
i{
    color:#427CD1;
}